@tailwind base;
@tailwind components;
@tailwind utilities;

.light-gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-lime-100 to-green-400;
}

.dark-gradient-text {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @apply bg-gradient-to-r from-lime-300 to-green-600;
}

@layer base {
  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: normal;
    src: url("https://cdn.rareblocks.xyz/collection/clarity/fonts/PlusJakartaSans-Regular.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 400;
    font-style: italic;
    src: url("https://cdn.rareblocks.xyz/collection/clarity/fonts/PlusJakartaSans-Italic.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.rareblocks.xyz/collection/clarity/fonts/PlusJakartaSans-Medium.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 500;
    font-style: italic;
    src: url("https://cdn.rareblocks.xyz/collection/clarity/fonts/PlusJakartaSans-MediumItalic.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 600;
    font-style: normal;
    src: url("https://cdn.rareblocks.xyz/collection/clarity/fonts/PlusJakartaSans-SemiBold.woff2")
      format("woff2");
  }

  @font-face {
    font-family: "Plus Jakarta Sans";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.rareblocks.xyz/collection/clarity/fonts/PlusJakartaSans-Bold.woff2")
      format("woff2");
  }
}
